.Offline {
    max-width: 800px;
    margin: 3rem auto;

    &-header {
        margin-bottom: 3rem;
        text-align: center;
    }

    &-logo {
        margin-bottom: 1.5rem;
    }

    &-wrap {
        margin-bottom: 3rem;
    }

    &-footer {
        text-align: center;
        color: $gray-light;

        &:before {
            content: '';
            display: block;
            max-width: 200px;
            margin: 0 auto 1.5rem;
            border-top: 1px solid $gray-lighter;
        }
    }
}
