// General
// NOTE styles on tag selectors
// ---------------------
body {
    background: $gray-lightest;
}

fieldset {
	padding: 0;
	border-radius: $border-radius;
	border: 0;
	background: $white;
}



// Bootstrap overrides and addons
// ---------------------
.material-icons {
	position: relative;
	top: 2px;
}

.btn i {
	top: -2px;
	line-height: 0;
	font-size: 1.25em;
	vertical-align: middle;
}

.btn-inverse {
	background: $gray-dark;
	color: $white;

	&:hover, &:focus {
		background: darken($gray-dark, 10%);
	}
}

.input-xs {
	max-width: 3rem;
}

.breadcrumb {
	background: transparent;
}

.alert > :last-child { margin-bottom: 0; }

.table {
	&.table-bordered { background: $white; }
	&-wrap { max-width: 100%; overflow-x: auto; }

	&-check {
		@extend %unselectable;
		width: 3rem;
		padding: 0 !important;
		text-align: center;
		font-size: 0;

		.custom-checkbox {
			margin: 0;
			padding: 1rem;
		}
	}

	&-actions {
		@extend %unselectable;
		white-space: nowrap;
		text-align: center;

		& > * {
			margin: 0 .125rem;
		}
	}
}

.custom-control {
    @extend %unselectable;
	align-items: center;
	justify-content: center;
}

.card-header {
	font-size: $font-size-base;
}

.col-form-label {
	font-weight: bold;
}

.form-control-feedback {
	font-size: $font-size-sm;
}

.form-check-legend {
	font-weight: bold;
	vertical-align: middle;
}

.custom-control {
	padding-left: 0;
	margin: 0;
	vertical-align: middle;
}
.custom-control-description {
	margin-left: .5rem;
}





// Utilities
// NOTE use `u-` prefix for public classes
// ---------------------
